@import "tailwindcss";

@theme {
  --color-primary: #C41230;
  --color-primary-dark: #9c0e26;
  --color-primary-light: #e8293b;
  --color-sidebar: #1e1e2e;
}

body {
  background: #f8f9fa;
  color: #171717;
  font-family: var(--font-inter, Arial, Helvetica, sans-serif);
}
